In [11]:
import pandas as pd
import numpy as np
import random
import os

In [2]:
DATADIR = "/home/jovyan/DATA/Numerics/mimic2/bp/subjects/"
data = os.listdir("/home/jovyan/DATA/Numerics/mimic2/bp/subjects/")

In [12]:
with open(os.path.join(DATADIR, random.choice(data)))as f0:
    values=f0.readlines()

In [13]:
type(values),len(values)

(list, 279)

In [15]:
values[1].split(",")

['117\t52\n']

In [18]:
#values_part2=[for line in values]
for line in values[:5]:
    print(line.split())

['146', '66']
['117', '52']
['116', '50']
['106', '59']
['114', '54']

In [19]:
for line in values[:5]:
    l=line.split()
    for ll in l:
        print(float(ll),end=",")
    print()

146.0,66.0,
117.0,52.0,
116.0,50.0,
106.0,59.0,
114.0,54.0,

In [22]:
mydata=[]
for line in values[:5]:
    l=line.split()
    nums=[float(ll) for ll in l]
    mydata.append(nums)
print(mydata)

[[146.0, 66.0], [117.0, 52.0], [116.0, 50.0], [106.0, 59.0], [114.0, 54.0]]

In [23]:
fname="Accidents7904.csv"
with open(os.path.join("/home/jovyan/DATA/Misc/", fname))as f0:
    accident_values=f0.readlines(500000)

In [24]:
len(accident_values)

4281

In [28]:
accident_values[10].split(",")

['197901A1FBK75',
 '136380',
 '245000',
 'NULL',
 'NULL',
 '1',
 '3',
 '2',
 '1',
 '01/01/1979',
 '2',
 '05:05',
 '27',
 '9999',
 '4',
 '455',
 '9',
 '30',
 '0',
 '-1',
 '-1',
 '0',
 '-1',
 '-1',
 '4',
 '8',
 '3',
 '-1',
 '0',
 '-1',
 '-1',
 '\n']

In [26]:
print(accident_values[0])

﻿Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,Junction_Detail,Junction_Control,2nd_Road_Class,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location

In [27]:
for h in accident_values[0].split(","):
    print(h)

﻿Accident_Index
Location_Easting_OSGR
Location_Northing_OSGR
Longitude
Latitude
Police_Force
Accident_Severity
Number_of_Vehicles
Number_of_Casualties
Date
Day_of_Week
Time
Local_Authority_(District)
Local_Authority_(Highway)
1st_Road_Class
1st_Road_Number
Road_Type
Speed_limit
Junction_Detail
Junction_Control
2nd_Road_Class
2nd_Road_Number
Pedestrian_Crossing-Human_Control
Pedestrian_Crossing-Physical_Facilities
Light_Conditions
Weather_Conditions
Road_Surface_Conditions
Special_Conditions_at_Site
Carriageway_Hazards
Urban_or_Rural_Area
Did_Police_Officer_Attend_Scene_of_Accident
LSOA_of_Accident_Location

In [32]:
pd.read_csv?

In [33]:
accidents2=pd.read_csv(os.path.join("/home/jovyan/DATA/Misc/",fname),nrows=4000,skiprows=0)
accidents2.tail()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
3995,197901B3XGQ01,334960.0,821000.0,NaN,NaN,1,3,1,1,03/02/1979,...,-1,-1,4,8,1,-1,0,-1,-1,NaN
3996,197901B3XHD35,368880.0,975000.0,NaN,NaN,1,2,3,7,03/02/1979,...,-1,-1,4,8,1,-1,0,-1,-1,NaN
3997,197901B3XKD53,521780.0,273000.0,NaN,NaN,1,2,2,3,03/02/1979,...,-1,-1,4,8,1,-1,0,-1,-1,NaN
3998,197901B3XLC98,316070.0,448000.0,NaN,NaN,1,2,2,2,03/02/1979,...,-1,-1,4,8,1,-1,0,-1,-1,NaN
3999,197901B3XLD88,507570.0,468000.0,NaN,NaN,1,2,1,1,03/02/1979,...,-1,-1,4,8,1,-1,0,-1,-1,NaN