<html>
<table width="100%" cellspacing="2" cellpadding="2" border="1">
<tbody>
<tr>
<td valign="center" align="center" width="25%"><img src="../../media/decartes.jpg"
alt="DeCART Icon" width="128" height="171"><br>
</td>
<td valign="center" align="center" width="75%">
<h1 align="center"><font size="+3">DeCART Summer School<br>
for<br>
Biomedical Data Science</font></h1></td>
<td valign="center" align="center" width="25%"><img
src="../../media/U_Health_stacked_png_red.png" alt="Utah Health
Logo" width="128" height="134"><br>
</td>
</tr>
</tbody>
</table>
<br>
</html>

# Basic Numeric Data Characterization

Numpy provides a number of functions/methods for characterizing

In [25]:
import os
import numpy as np
#import utils
import numpy.random as ra
import pandas as pd

In [2]:
from quizzes.characterizing_numeric_data import *

In [3]:
pd.__version__

'0.19.2'

In [4]:
DATADIR = os.path.join(os.path.expanduser("~"),"DATA")
HRDIR = os.path.join(DATADIR,"Numerics", "mimic2", "hr", "subjects")
BPDIR = os.path.join(DATADIR,"Numerics", "mimic2", "bp", "subjects")

hr_files = os.listdir(HRDIR)

## Heart Rate file for patient ``3325``

We are going to start with using [Pandas](http://pandas.pydata.org/) to read, summarize, and visualize numeric data. We are going to start with the MIMIC2 patient ``#3325``. This is what the first five lines of the file looks like (You can explore this in the Linux shell with less, more, or cat.

```Python
88
84
87
78
85
```

Pandas has two basic functions for reading in tabular data: [``read_table``](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_table.html) and [``read_csv``](https://pandas.pydata.org/pandas-docs/stable/generat

ed/pandas.read_csv.html). They are really the smae function with different default values for the delimiter, the character that is used to separate the data on each row: (a tab (``\t``) character for ``read_table`` and a comma (``,``) for ``read_csv``. We will use ``read_table`` to read in the heart rate values.

Both of these functions swill return a [Pandas DataFrame](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html) which is a
>Two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). 

Going back to an earlier analogy, a data structure is a complex molecule of data. 

A Pandas DataFrame is an object (everything is an object), and so it has attributes and methods. Two of the methods we will use right off the bat are

* [``head()``](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.head.html#pandas.DataFrame.head)
* [``tail()``](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.tail.html#pandas.DataFrame.tail)

which return the first (last) n (default=5) rows of the DataFrame.

### Read in the data and look at the head

In [5]:

hr = pd.read_table(os.path.join(HRDIR,'3235.txt'))
hr.head()

   88
0  84
1  87
2  78
3  85
4  80

The DataFrame provides an **index** for each row (e.g. $0, 1, 2, \cdots$). It will also display the label (name) for each column.

### Does anything seem wrong?

In [6]:
hr.shape, hr.size

((482, 1), 482)

### Reread the data, specifying what to use for the header

In [7]:
hr = pd.read_table(os.path.join(HRDIR,'3235.txt'), header=None)
hr.head()

    0
0  88
1  84
2  87
3  78
4  85

This looks better but zero for a column label/name is not very meaningful. We can provide names to use for the columns with a ``names`` keyword argument.

### Reread the data providing a name for the heart rate column

In [7]:
help(os.path.join)

Help on function join in module posixpath:

join(a, *p)
    Join two or more pathname components, inserting '/' as needed.
    If any component is an absolute path, all previous path components
    will be discarded.  An empty last part will result in a path that
    ends with a separator.

In [8]:
hr = pd.read_table(os.path.join(HRDIR,'3235.txt'), header=None, names=["heart_rate"])
hr.head()

   heart_rate
0          88
1          84
2          87
3          78
4          85

### DataFrame Attributes

DataFrames have attributes that describe it, including

* ``shape``: shape of the frame
* ``size``: total number of elements in the frame
* ``dtypes``: the data types for each column in the frame

In [9]:
print(hr.shape, hr.size)
print(hr.dtypes)

(483, 1) 483
heart_rate    int64
dtype: object

## Exercise

Use the Pandas ``read_table``function to read in the blood pressure data for the same patient (``3235``). Answer the following questions:

1. How many rows are in the blood pressure data frame?
1. What data type (e.g. np.uint8) is used for the first column (systolic) of measurements?

In [15]:

print(BPDIR)
bp = pd.read_table(os.path.join(BPDIR,'3235.txt'), header=None, names=["systolic","diastolic"])
bp.head()
print(bp.shape, bp.size)
print(bp.dtypes)

data_shape(485)

/home/jovyan/DATA/Numerics/mimic2/bp/subjects
(485, 2) 970
systolic     int64
diastolic    int64
dtype: object

'You provided the correct number of rows'

#### Compute summary statistics

We can compute summary statistics on a Pandas DataFrame or Series using either a numpy function or a method of the DataFrame or Series.

### How do we know what numpy functions are defined or what methods a DataFrame has?

In [10]:
print(hr.max())

heart_rate    303
dtype: int64

In [11]:
np.max(hr)

heart_rate    303
dtype: int64

In [12]:
np.max(hr["heart_rate"])

303

In [13]:
hr["heart_rate"].max()

303

In [16]:
bp.median()

systolic     113.0
diastolic     54.0
dtype: float64

## Exercise

What is the median value of the diastolic blood pressure for patient 3235?

In [17]:
media_diastolic(54)

'You provided the correct median value'

## Exercise

To explore equality of floating point numbers, perturb your answer by adding ``0.1``, ``0.01``, etc. until your perturbed answer is considered equal.

In [20]:
media_diastolic(54.01)

('You did not provide the correct median value',
 AssertionError('54.01 != 54.0'))

## [``describe()``](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html)

Pandas DataFrames (Series) come with a ``describe()`` method that provides summary statistics.

In [30]:
hr.describe()

       heart_rate    one       range  inverse range  range_diff
count  483.000000  483.0  483.000000     483.000000  483.000000
mean    92.857143    1.0  241.000000     242.000000    1.000000
std     14.398532    0.0  139.574353     139.574353  279.148706
min     75.000000    1.0    0.000000       1.000000 -481.000000
25%     85.000000    1.0  120.500000     121.500000 -240.000000
50%     90.000000    1.0  241.000000     242.000000    1.000000
75%     99.000000    1.0  361.500000     362.500000  242.000000
max    303.000000    1.0  482.000000     483.000000  483.000000

## Creating a New Column

We can create a new column in the DataFrame with a simple assignment statement:

In [31]:
hr["one"] = 1
hr["range"] = range(len(hr))
hr["inverse range"] = range(len(hr),0, -1)
hr.head()

   heart_rate  one  range  inverse range  range_diff
0          88    1      0            483         483
1          84    1      1            482         481
2          87    1      2            481         479
3          78    1      3            480         477
4          85    1      4            479         475

We can also create a new column based on a function of the existing columns.

We can do this in two ways

### Method 1

In [32]:
hr["range_diff"] = hr["inverse range"] - hr["range"]
hr.head()

   heart_rate  one  range  inverse range  range_diff
0          88    1      0            483         483
1          84    1      1            482         481
2          87    1      2            481         479
3          78    1      3            480         477
4          85    1      4            479         475

### Method 2

Our second method uses the [``apply()``]() method and an [**anonymous function**](https://docs.python.org/3/tutorial/controlflow.html#lambda-expressions). We could have defined the function previously instead.

#### Anonymous Functions

The syntax for anonymous functions is as follows:

```Python
lambda variable: some_function_of_the_variable
```

So an anonymous doubling function would be

```Python
lambda x: 2*x
```

Here is an anonymous function that returns the upper case version of a string

```Python
lambda y: y.upper()
```

#### Pandas ``apply()``

* ``apply()`` applies a function to each element in the DataFrame (Series)
* We specify whether we want to apply the function by columns or rows by specifying the keyword argument ``axis`` (which defaults to 0 for columns)
* When we apply by rows, we get a variable that contains each row; we can access specific columns within the row

In [33]:
help(apply)

NameError: name 'apply' is not defined

In [34]:
hr["range_diff2"] = hr.apply(lambda  row: row["range_diff"] - row["range"], axis=1)
hr.head()

   heart_rate  one  range  inverse range  range_diff  range_diff2
0          88    1      0            483         483          483
1          84    1      1            482         481          480
2          87    1      2            481         479          477
3          78    1      3            480         477          474
4          85    1      4            479         475          471

## Exercise:

[Data standardization](http://scikit-learn.org/stable/modules/preprocessing.html) transforms numeric data ($x$) by subtracting the mean ($\mu_x$) and dividing by the standard deviation ($\sigma_x$):

$$\tilde{x} = \frac{x-\mu_x}{\sigma_x}$$

Read in one of the heart rate data files and compute the standardized form of the data. Assign this normalized heart rate to the DataFrame with a label of **"normalized hr"**.

In [35]:
hr.head()

hr["normalized_hr"]=hr.apply(lambda row:(row["heart_rate"]-hr["heart_rate"].mean())/hr["heart_rate"].std(),axis=1)
hr.head()

,heart_rate,one,range,inverse range,range_diff,range_diff2,normalized_hr
0,88,1,0,483,483,483,-0.337336
1,84,1,1,482,481,480,-0.615142
2,87,1,2,481,479,477,-0.406788
3,78,1,3,480,477,474,-1.031851
4,85,1,4,479,475,471,-0.545691

## Exercise


The student's t-test is often used to comapre two populations. Using ``len``, ``math.sqrt`` and numpy methods/functions compute the [t value](https://en.wikipedia.org/wiki/Student%27s_t-test#Independent_two-sample_t-test) for two files.

$$t = \frac{\bar{{X_1}}-\bar{X_2}}{s_{X_1X_2}\sqrt{\frac{1}{n_1}+\frac{1}{n_2}}}$$ where
$$s_{X_1X_2} = \sqrt{\frac{(n_1-1)s_{X_1}^2 + (n_2-1)s_{X_2}^2}{n_1+n_2-2}}$$.
1. Pick two heart rate files and comptue the t value for the two files.

In [43]:
hr1 = pd.read_table(os.path.join(HRDIR,'1000.txt'), header=None, names=["heart_rate"])
hr1.tail()

      heart_rate
1012          74
1013          56
1014          40
1015           7
1016           0

In [58]:
hr2 = pd.read_table(os.path.join(HRDIR,'3235.txt'), header=None, names=["heart_rate"])
hr2.tail()
import math
import numpy as np
print(len(hr1["heart_rate"]))
np.std(hr1["heart_rate"])
print(np.mean(hr1["heart_rate"]))
s=math.sqrt(((len(hr1["heart_rate"])-1)*np.std(hr1["heart_rate"])**2+(len(hr2["heart_rate"])-1)*np.std(hr1["heart_rate"])**2)/(len(hr1["heart_rate"])+len(hr2["heart_rate"])-2))
print(s)
t=(np.mean(hr1["heart_rate"])-np.mean(hr2["heart_rate"]))/(s*math.sqrt(1/len(hr1["heart_rate"])+1/len(hr2["heart_rate"])))
print(t)

1017
80.744346116
13.635785312610704
-16.0750631244

<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">University of Uah Data Science for Health</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Brian E. Chapman</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.